{% extends 'rpapp/base.html' %}

{% block content %}
    <div class="post">

        <h1><a href="{% url 'arendator_detail' pk=arendator.pk %}">{{ arendator.name }}</a></h1>

        {% if arendator.photo %}
            <img src="{{MEDIA_URL}}{{arendator.photo}}">
            </br>
        {% endif %}

        {% if arendator.phone %}
            <span><em>Телефон:</em><p><strong>{{ arendator.phone }}</strong></p></span>
            </br>
        {% endif %}

        {% if arendator.email %}
            <span><em>Email:</em><p><strong>{{ arendator.email }}</strong></p></span>
            </br>
        {% endif %}

        {% if user.is_authenticated %}
            <a class="btn btn-default" href="{% url 'arendator_edit' pk=arendator.pk %}"><span class="glyphicon glyphicon-pencil" style="color:blue"></span></a>
            <a class="btn btn-default" href="{% url 'arendator_remove' pk=arendator.pk %}"><span class="glyphicon glyphicon-remove" style="color:blue"></span></a>
        {% endif %}

    </div>
{% endblock %}