{% extends 'rpapp/base.html' %}

{% block content %}
    {% for contract in contracts %}
        <div class="post">

            <h1><a href="{% url 'contract_detail' pk=contract.pk %}">{{ contract.rent_obj }}</a></h1>

            {% if contract.arendator %}
                <img src="{{MEDIA_URL}}{{contract.arendator.photo}}">
            {% endif %}

            </br></br>
            <span>
                <strong>Состояние недвижимости по контракту:</strong>
                <p><strong>{{ contract.rental_condition }}</strong></p>
            </span>

            <span>
                <strong>Истекает контракт:</strong>
                <em>{{contract.rent_finish_date}}</em>
            </span>

            </br></br>
            <span>
                <strong>
                    До истечения контракта:</br>
                    {{ contract.rent_finish_date|timeuntil }}</strong>
            </span>

        </div>
    {% endfor %}
{% endblock %}>