{% extends 'rpapp/base.html' %}

{% block content %}
    {% for post in posts %}
        <div class="post">

            <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>

            {% if post.picture %}
                <img src="{{ MEDIA_URL }}{{post.picture}}" alt="_">
            {% endif %}


            <p><em>Сдаётся/свободно</em></br><strong>{{ post.rental_condition }}</strong></p>
            <p><em>Опубликовано:</em></br><strong>{{ post.published_date }}</strong></p>

        </div>
    {% endfor %}
{% endblock %}