{% extends 'rpapp/base.html' %}

{% block content %}

    <div class="post">

        <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>

        {% if post.picture %}
            <img src="{{MEDIA_URL}}{{post.picture}}">
        {% endif %}

        <span><strong>Описание</strong><p>{{ post.text|linebreaksbr }}</p></span>
        </br>
        <p><strong>Сдаётся/свободно</strong><h4>{{ post.rental_condition }}</h4></p>
        </br>

        {% if post.published_date %}
            <span><strong>Опубликовано:</strong>
            <p><em>{{ post.published_date }}</em></p>
            </span>
            </br>
        {% else %}
            <a class="btn btn-default" href="{% url 'post_publish' pk=post.pk %}">Publish</a>
        {% endif %}

        {% if user.is_authenticated %}
            <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil" style="color:blue"></span></a>
            <a class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}"><span class="glyphicon glyphicon-remove" style="color:blue"></span></a>
        {% endif %}

    </div>
{% endblock %}